
.header{
  background-color: aqua;
}
.header2{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.sidebar{
  background-color: aqua;
  width: 20%;
  height: 100vh;
}

.transaction-form-container {
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.transaction-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

input[type="text"],
input[type="date"],
select {
  width: 100%; 
  padding: 15px; 
  font-size: 1.2rem; 
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  margin-top: 5px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #4caf50; 
  outline: none;
}

button {
  padding: 15px 20px;
  background-color: #0b33c1; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  width: 100%; 
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #dcdcdc;
  cursor: not-allowed;
}
.nav-link-text {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.nav-link-text:hover {
  color: #007bff; 
}
.header11{
   background-color: rgb(133, 239, 26);
}
